<?php

return
[
    //показывать ли форму отправки заявки на главной странице
    'startForm' => true,
    //количество записей на любой странице
    'pages' => 10,
    //титульник в окне браузера
    'title' => 'Администрация Металлургического района - Журнал заявок',
    //Время очистки старых файлов в месяцах, 0 не удалять
    'clearFile' => 12,
    //Объём загружаемых файлов по умолчанию (кб)
    'fileMax' => 20480,
];

